Importando os arquivos com o pandas

In [5]:
import pandas as pd 

df = pd.read_json("704092.json")

df.head()

                                            produtos
0  {'id_produto': '1421', 'produto': 'Banana Prat...
1  {'id_produto': '1490', 'produto': 'Batata Ingl...
2  {'id_produto': '1695', 'produto': 'Cebola Unid...
3  {'id_produto': '11302', 'produto': 'Creme de L...
4  {'id_produto': '2040', 'produto': 'Goiaba Verm...